%ul.nav.nav-tabs
  %li.active
    = link_to courses_url, :data => {:toggle => "dropdown"} do
      Courses
      %span.caret
    %ul.dropdown-menu
      - @users.each do |user|
        - if user.id  == current_user.id
          - user.coursesIn.each do |courseIn|
            %li= link_to courseIn.name, courseIn
  %li= link_to 'Schools', schools_url 
  %li= link_to "Sign out", destroy_user_session_path, method: :delete

%h1= @course.name

%strong Other students in this course:
%br

%table{:class => "container-fluid table table-bordered"}
  %tbody
    - @user_courses.each do |user_course|
      - if user_course.course_id == @course.id
        - @users.each do |user|
          - if user_course.user_id == user.id
            %tr
              %td= user.name
              %td= link_to 'Ping User', @course

= link_to 'Edit', edit_course_path(@course)
|
= link_to 'Back', courses_path
